 *{
    margin: 0;
   
 }
 .navbar{
    height: 60px;
    background-color: rgb(8, 8, 8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    background-color: rgb(12, 11, 11);
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
.nav-adderss{
    height: 50px;
    width:88px ;
   
}
/**box 2 **/
.p1{
color: #cccccc;
font-size: 0.75rem;
margin-left: 15px;
}

.p2{
    font-size: 1rem;
    margin-left: 3px;
    
}
.add-icon{
    display: flex;
    align-items: center;
}
/**search bar**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    background-color: aquamarine;

}
.nav-search:hover{
    border: 2px solid;
    border-color: orange;

}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-bar{
    font-size: 1rem;
    width: 100%;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background-color: rgb(247, 171, 30);
      border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/**box 4 and box 5**/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/**box 6**/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/** panel**/
.panel{
    height: 30px;
    background-color: rgb(6, 46, 63);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.panel-option p{
    display: inline;
    margin-left: 15px;
}
.panel-option{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-weight: 700;
    font-size: 0.9rem;
}


/**hero section **/
.hero-section{
    height: 355px;
    background-image: url(amazonimage.jpg);
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}
.hero-mess{
    height: 40px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 97%;
    margin-bottom: 25px;
}
.hero-mess a{
    color: #007185;
}

/** shop section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 300px;
    width: 23%;
    background-color: white;
    margin-top: 15px;
   
}
.div-image{
    width: 100%;
    height: 220px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
  
}
.box-content{
    margin-left: 1rem;
        margin-right: 1rem;

}
.box a{
color: #007185;
}

/**footer**/
footer{
    margin-top: 15px;
}
.foot-panel1{
    height: 40px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.foot-panel2{
    height: 400px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: o.85rem;
    margin-top: 10px;
}
ul p{
    font-weight: 800;
}

.panel3{
    height: 70px;
    background-color: #222f3d;
    color: rgb(253, 250, 250);
    border-top: 0.5px solid rgb(86, 92, 105);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo2{
    height: 50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
    margin-right: 100px;
}
.english{
    display: flex;
     align-items: center;
     font-size: 0.8rem;
}
.globe{
    padding-right: 8px;
    padding-left: 8px;
}
.boder{
     width: 130px;
    height: 30px;
     border: 1.5px solid rgb(187, 181, 181);
     border-radius: 3px;
     margin-left: 9px;
}
.usd{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 800;
    padding-left: 8px;
}
.doller{
    padding-right: 8px;
}
.us{
    display: flex;
    align-items: center; 
}
.flag{
    padding-left: 8px;
    padding-right: 8px;
}






/**panel 4**/
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
   
}
.copyright{
    padding-top: 5px;
  
}